<h3 class="banner">...my cousin works for Bit.ly</h3>

<div class="control">
	<%= link_to image_tag("arrow_left.png"), articles_path %>
	<a class="description", <%= link_to 'list all articles', articles_path %>
</div>

<div class="heading">
	<div class="title">
		<h1>Editing "<%= @article.title %>"</h1>
	</div>
</div>
<div id="clear"></div>
<%= render 'form' %>


